/* HOLY FUCK GOD BLESS SUBLIME FOR ITS AMAZINGNESS AND AMAZINGNESS */
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P|Varela+Round);
body {
    margin: 0px;
}
div#title {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-family: 'Press Start 2P', sans-serif;
	font-size: 32px;
    color: #fff;
    background-color: #f04323;
}
span#navs{
    font-size: 16px;
    float:right;
    padding-top: 16px;
    padding-right: 15px;
}
div#illuminati1 {
    background-image: url('beards/illuminati1.gif');
    background-color: #ffc6bb;
    height: 21px;
    animation: traingularscroll 1s infinite;
    -webkit-animation: traingularscroll 1s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
div#illuminati1a {
    background-image: url('beards/illuminati1.gif');
    height: 21px;
    animation: traingularscroll 1s infinite;
    -webkit-animation: traingularscroll 1s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
div#illuminati2 {
    background-image: url('beards/illuminati2.gif');
    background-color: #ffc6bb;
    height: 21px;
    animation: traingularscrollbck 1s infinite;
    -webkit-animation: traingularscrollbck 1s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
div#socialmedias {
    font-family: 'Varela Round', sans-serif;
    letter-spacing: -0.5px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    font-style: italic;
    background-color: #ffc6bb;
}
div#socialmedias:hover {
    padding-top: 10px;
    padding-bottom: 10px;
}
div#purr1 {
    background-color: #f04323;
}
img#mecfacial {
    padding-right: 50px;
}
div#info {
    padding-top: 30px;
    text-align: left;
    background-color: #f04323;
    height: 273px;
    padding-bottom: 30px;
    max-width: 800px;
    margin: auto;
}
div#tity {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    color: #fff;
    font-style: normal;
    padding-top: 25px;
    padding-bottom: 10px;
    font-weight:normal;
}
span#para1 {
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    width: 50px;
}
a#navlink:hover {
    color: #ffc6bb;
}
a:link {
    text-decoration: none;
    color: #fff;
    padding-right: 5px;
}
a#tittle:link {
    padding-right:15px;
    padding-bottom: 15px;
}
a#tittle:hover {
    color: #ffc6bb;
}
a:visited {
    text-decoration: none;
    color: #fff;
}
a#tweet:hover {
    text-decoration: none;
    color: #6BD8FF;
    padding-right: 10px;
    padding-left: 5px;
}
a#tumble:hover {
    text-decoration: none;
    color: #4D52A0;
    padding-left: 10px;
    padding-right: 10px;
}
a#octocat:hover {
    text-decoration: none;
    color: #CF35D6;
    padding-left: 10px;
    padding-right: 10px;
}
a#itch:hover {
    text-decoration: none;
    color: #FC6274;
    padding-left: 10px;
}
div, span {
     -webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
a {
     -webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
@keyframes traingularscroll {
    0%   { background-position:0%,0%;}
    100% { background-position:-21px,21px;}
}
@keyframes traingularscrollbck {
    0%   { background-position:0%,0%;}
    100% { background-position: 21px, -21px;}
}
